In [1]:
#importing the required libraries
import numpy as np
import pandas as pd

In [2]:
#Task-1
#Creating a pandas dataframe with numpy random values (4 features and 4 observation)
df=pd.DataFrame([np.random.rand(4),np.random.rand(4),np.random.rand(4),np.random.rand(4)]) 
print(df)

          0         1         2         3
0  0.208049  0.385495  0.054572  0.398647
1  0.038114  0.729345  0.657310  0.471733
2  0.605660  0.465230  0.521558  0.633355
3  0.893649  0.523953  0.606938  0.017754

In [3]:
#Task-2
#Renaming the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4' using "rename" funtion
df.rename(columns={0: "Random value 1"},inplace=True)
df.rename(columns={1: "Random value 2"},inplace=True)
df.rename(columns={2: "Random value 3"},inplace=True)
df.rename(columns={3: "Random value 4"},inplace=True)
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.208049        0.385495        0.054572        0.398647
1        0.038114        0.729345        0.657310        0.471733
2        0.605660        0.465230        0.521558        0.633355
3        0.893649        0.523953        0.606938        0.017754

In [4]:
#Task-3

#Finding the descriptive statistics of the 'df' dataframe
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.436368        0.526006        0.460094        0.380372
std          0.386653        0.146956        0.276093        0.260879
min          0.038114        0.385495        0.054572        0.017754
25%          0.165566        0.445296        0.404812        0.303424
50%          0.406855        0.494591        0.564248        0.435190
75%          0.677657        0.575301        0.619531        0.512139
max          0.893649        0.729345        0.657310        0.633355

In [9]:
#Task-4

#Check for the null values in 'df' and find the data type of the columns
print(df.isnull())       #checking for null values
print(df.isnull().sum()) #displaying number of null values in each column

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [10]:
#Finding the data types of each column
print(df['Random value 1'].dtype)
print(df['Random value 2'].dtype)
print(df['Random value 3'].dtype)
print(df['Random value 4'].dtype)

float64
float64
float64
float64

In [7]:
#Task-5

#Display the 'Random value 2' & 'Random value 3' columns with location method
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.385495        0.054572
1        0.729345        0.657310
2        0.465230        0.521558
3        0.523953        0.606938

In [8]:
#Display the 'Random value 2' & 'Random value 3' columns with index location method 
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.385495        0.054572
1        0.729345        0.657310
2        0.465230        0.521558
3        0.523953        0.606938